<div class="container-fluid">
  <h1> Angular Form Array Example</h1>
  <form class="form" [formGroup]="form">
    <div class="container">
      <div formArrayName="skills">
        <div *ngFor="let skill of skills.controls;let i=index" >
          <div [formGroupName]="i">
            <input type="checkbox" formControlName="checked" /> {{skill.get('name').value}}
          </div>
        </div>
      </div>
    </div>
  </form>
  <br/>
  <br/>
  <br/>
  <div class="container">
    {{this.form.getRawValue() | json}}
  </div>
</div>